
.form-field-height,
td,
th {
  height: 30px;
  font-size: 12px;
  line-height: 12px;
  padding: 0 12px;
}
.table-container {
  height: 75vh;
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 65vh;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #aaa transparent; /* For Firefox */
}

.table-content {
  width: 100%;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}
.edit-icon,
.delete-icon {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.edit-icon:hover {
  color: #003670 !important;
}

.delete-icon:hover {
  color: #ff0019 !important;
}

.custom-tooltip {
  padding: 0px 8px 1px 8px; 
  font-size: 12px; 
}