.form-field-height,
td,
th {
  height: 30px;
  font-size: 12px;
  line-height: 12px;
  padding: 0 12px;
}
.table-container {
  height: 75vh;
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 65vh;
}

.table-content {
  width: 100%;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}